.app {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  column-gap: 32px;
}

.app > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;
}

.title {
  margin: 32px 0;
  text-align: center;
}

.status {
  margin-bottom: 8px;
}

.square {
  width: 64px;
  height: 64px;
  margin-right: -1px;
  margin-bottom: -1px;
  float: left;
  border: 1px solid #555;
  background-color: transparent;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
}
