.app {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  column-gap: 32px;
}

.app > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;
}

.title {
  margin: 64px 0;
  text-align: center;
}

.game {
  display: flex;
  justify-content: space-evenly;
}

.status {
  margin-bottom: 16px;
  font-size: 18px;
}

.square {
  width: 64px;
  height: 64px;
  margin-top: -3px;
  margin-right: -3px;
  float: left;
  border: 3px solid gray;
  background-color: transparent;
  color: darkgray;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
}

.winner {
  background-color: black;
  color: white;
}

ol {
  display: flex;
  flex-direction: column;
  width: 160px;
  gap: 8px;
  list-style-type: none;
}

.game-move {
  width: 100%;
  padding: 4px 8px;
  border: 3px solid darkgray;
  background-color: transparent;
  color: darkgray;
  cursor: pointer;
}

.game-move:hover {
  border-color: black;
  color: black;
  font-weight: bold;
}

.game-move:active {
  background-color: black;
  color: white;
}
